######################################################################################################
##Smartshunt / BMVxxx
defmod MPPT75_15 VEDirect /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AH06W0RF-if00-port0@19200 MPPT
attr MPPT75_15 LogHistoryToFile /opt/fhem/log/MPPT_History.txt
attr MPPT75_15 icon measure_photovoltaic_inst
attr MPPT75_15 room Solar
attr MPPT75_15 stateFormat <hr><div><table align=center>\
<tr><td align=left>MPPTBetriebsart:</td><td align=left>Charger_state</td></tr>\
<tr><td align=left>Tracker operation mode:</td><td align=left>Tracker_operation_mode</td></tr>\
\
<tr><td align=left>Panel-Leistung:</td><td align=left>Panel_power</td></tr>\
<tr><td align=left>Max. Panel-Leistung:</td><td align=left>Maximum_power_today</td></tr>\
\
<tr><td align=left>Batteriestrom:</td><td align=left>Main_or_channel_1_battery_current</td></tr>\
\
<tr><td align=left>Error-Code:</td><td align=left>Error_code</td></tr>\
</table></div><hr>
attr MPPT75_15 suppressReading SerialTextInput
attr MPPT75_15 verbose 2

setstate MPPT75_15 <hr><div><table align=center>\
<tr><td align=left>MPPTBetriebsart:</td><td align=left>not_charging </td></tr>\
<tr><td align=left>Tracker operation mode:</td><td align=left>0 MPPT</td></tr>\
\
<tr><td align=left>Panel-Leistung:</td><td align=left>0 W</td></tr>\
<tr><td align=left>Max. Panel-Leistung:</td><td align=left>0 W</td></tr>\
\
<tr><td align=left>Batteriestrom:</td><td align=left>-0.03 A</td></tr>\
\
<tr><td align=left>Error-Code:</td><td align=left>No error</td></tr>\
</table></div><hr>

######################################################################################################
##Smartshunt / BMVxxx
defmod SmartShunt VEDirect /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AC00V4R2-if00-port0@19200 BMV
attr SmartShunt icon measure_battery_100
attr SmartShunt room Solar
attr SmartShunt stateFormat <hr><div><table align=center>\
<tr><td align=left>SOC:</td><td align=left>State_of_charge</td></tr>\
<tr><td align=left>Batteriespannung:</td><td align=left>Main_or_channel_1_battery_voltage</td></tr>\
<tr><td align=left>akt. Leistung:</td><td align=left>Instantaneous_power</td></tr>\
<tr><td align=left>TTG:</td><td align=left>Time_to_go</td></tr>\
<tr><td align=left>Alarm Grund:</td><td align=left>Alarm_reason</td></tr>\
<tr><td align=left>Ah entnommen aktuell:</td><td align=left>Consumed_Amp_Hours</td></tr>\
<tr><td align=left>Geladen:</td><td align=left>Amount_of_charged_energy</td></tr>\
<tr><td align=left>Entladen:</td><td align=left>Amount_of_discharged_energy</td></tr>\
</table></div><hr>

######################################################################################################
##Phoenix_Inverter
defmod Phoenix_Inverter_12_500 VEDirect /dev/ttyUSB9@19200,8,N,1 Inverter
attr Phoenix_Inverter_12_500 room Solar
attr Phoenix_Inverter_12_500 stateFormat <hr><div><table align=center>\
<tr><td align=left>Batteriespannung:</td><td align=left>Main_or_channel_1_battery_voltage</td></tr>\
<tr><td align=left>AC-Spannung:</td><td align=left>AC_Ausgangsspannung_V</td></tr>\
<tr><td align=left>AC-Strom:</td><td align=left>AC_AusgangsStrom_A</td></tr>\
<tr><td align=left>P_AC:</td><td align=left>B_AC_Ausgangsleistung</td></tr>\
<tr><td align=left>Zustand:</td><td align=left>Betriebsart</td></tr>\
<tr><td align=left>Alarme:</td><td align=left>Alarm_Reason</td></tr>\
<tr><td align=left>Wanungen:</td><td align=left>Warnung</td></tr>\
</table></div><hr>
attr Phoenix_Inverter_12_500 verbose 0
attr Phoenix_Inverter_12_500 webCmd Zustand:Betriebsart